.bottom-sheet {
    position: fixed;
    inset: 0;

    z-index: 100;
    background: var(--md-sys-color-surface);
    height: 100%;

    padding: 12px;

    transition: top .3s ease-in-out;

    &.hidden {
        top: 100%;
    }

    @media (min-width: 1180px) {
        max-width: 1182px;
        margin: 0 auto;
        top: 12px;
        left: -20px;

        border: 1px solid var(--md-sys-color-outline-variant);
        border-radius: 12px;
    }

    md-standard-icon-button {
        position: absolute;
        top: 6px;
        right: 6px;
    }

    @import "./movie.less";
}