header {
    min-height: 50px;

    .logo {
        fill: var(--md-sys-color-primary);

        position: fixed;
        left: 30px;
        top: 30px;
        width: 8vw;

        &-mobile {
            fill: var(--md-sys-color-primary);

            max-width: 460px;
            padding: calc(20vh - 10vw) 60px;
        }
    }


}