header {
    min-height: 50px;

    .logo {
        fill: var(--md-sys-color-primary);

        position: fixed;
        left: 20px;
        top: 20px;
        height: 170px;

        &-mobile {
            fill: var(--md-sys-color-primary);

            max-width: 500px;
            padding: 0 30px 10px;
        }
    }


}