.movie {

    .poster {
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 4px;
        position: relative;
        width: min-content;

        img {
            aspect-ratio: 185/275;
            border-radius: inherit;
            object-fit: cover;
        }

        --md-elevation-level: 2;
    }
}