@media only screen and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) {
    @supports (-webkit-backdrop-filter: saturate(150%) blur(10px)) or (backdrop-filter: saturate(150%) blur(10px)) {
        header {
            -webkit-backdrop-filter: saturate(150%) blur(10px);
            backdrop-filter: saturate(150%) blur(10px);
            background: linear-gradient(to bottom, 
            rgba(27,67,82, 1), 
            rgba(27,67,82, 0.9));
        }
        nav {
            -webkit-backdrop-filter: saturate(150%) blur(10px);
            backdrop-filter: saturate(150%) blur(10px);
            background: rgba(var(--md-sys-color-surface--rgb), 0.8);
        }
    }
    @supports not ((-webkit-backdrop-filter: saturate(150%) blur(10px)) or (backdrop-filter: saturate(150%) blur(10px))) {
        header {
            background: var(--md-sys-color-primary);
        }
        nav {
            background: var(--md-sys-color-surface);
        }
    }

    root {
        background: var(--md-sys-color-background);

        display: grid;
        grid: 1fr / 1fr;
    }
    main {
        
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        height: auto;
        min-height: 100vh;
        border-radius: 0;
        margin: 0;
        padding: 112px 8px 8px;

        display: grid;
        grid-template-columns: repeat(auto-fill, 100%);
        justify-content: space-between;
        gap: 8px;
    }
    
    header,
    nav {
        position: fixed;
        width: 100%;
        /* box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.2); */
    }

    /* Header -------------------------------------------------------- */
    header {        
        display: grid;
        grid: 40px / 50px 1fr;
        gap: 0;
        z-index: 800;
    }
    .logo {
        margin: 0;
        height: 30px;
        z-index: 1;
    }
    header > span {
        font-size: 24px;
        font-weight: 300;
    }
    header > span > span {
        font-size: 14px;
    }
    .mobile-sort {
        grid-column: 3 / 4;
        grid-row: 1 / -1;
        display: flex;
        color: var(--md-sys-color-on-primary);
        background: none;
        border: none;
        outline: none;
    }
    .sort {
        bottom: 16px;
        right: 16px;
        position: fixed;
        width: min-content;
        height: min-content;
        padding: 0;
        z-index: 100;
    }
    .sort > div {
        box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.2);
    }
    
    .sort > div:hover {
        max-width: 56px;
    }

    /* Nav ----------------------------------------------------------- */
    nav {
        top: 40px;
        height: 64px;
        padding: 0;
        z-index: 700;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 8px;
        border-bottom: 1px solid var(--md-sys-color-surface-variant);
    }
    nav > a {
        gap: 2px;
    }
    nav > a:hover {
        background: none;
    }
    nav > a > span {
        width: 24px;
        height: 24px;
    }
    nav > a.nav-active {
        color: var(--md-sys-color-primary);
    }
    nav > a.nav-active > span,
    nav > a.nav-active > span:hover {
        background: none;
        color: var(--md-sys-color-primary);
    }
    nav > a.nav-active::before {
        content: '';
        position: absolute;
        bottom: 0;
        height: 3px;
        width: 40px;
        background: var(--md-sys-color-primary);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    .card {
        margin: 10px 0 0;
        padding: 5px;
        font-size: 12px;
        font-weight: 300;
        line-height: 0.9;
        color: var(--md-sys-color-on-surface);
    
        display: grid;
        grid: auto auto auto auto auto auto auto auto auto 30px / 4fr 5fr 2fr;
        grid-template-areas:
            "poster title title"
            "poster original original"
            "poster genre genre"
            "poster premiered premiered"
            "poster studio studio"
            "poster director director"
            "poster writer writer"
            "subtitle subtitle subtitle"
            "review review review"
            "youtube pg-rating .";
        gap: 5px;
    }
    .poster {
        margin: -15px 0 0;
        width: 100%;
        height: auto;
    }
    .review {
        overflow: hidden;
        min-height: 90px;
    }
    .original-title, .subtitle {
        padding: 3px 0;
    }
    .start-loading-text,
    .loading {
        width: 100%;
        height: 100%;
        font-size: 24px;
        border-radius: 0;
        top: 0;
    }
}