:root {
	--md-sys-color-primary: #006687;
	--md-sys-color-primary--rgb: 0, 102, 135;
	--md-sys-color-on-primary: #ffffff;
	--md-sys-color-primary-container: #c0e8ff;
	--md-sys-color-on-primary-container: #001e2b;
	--md-sys-color-secondary: #4d616c;
	--md-sys-color-on-secondary: #ffffff;
	--md-sys-color-secondary-container: #d0e6f3;
	--md-sys-color-on-secondary-container: #091e27;
	--md-sys-color-tertiary: #5f5a7d;
	--md-sys-color-on-tertiary: #ffffff;
	--md-sys-color-tertiary-container: #e5deff;
	--md-sys-color-on-tertiary-container: #1b1736;
	--md-sys-color-error: #ba1a1a;
	--md-sys-color-on-error: #ffffff;
	--md-sys-color-error-container: #ffdad6;
	--md-sys-color-on-error-container: #410002;
	--md-sys-color-outline: #71787d;
	--md-sys-color-outline--rgb: 113, 120, 125;
	--md-sys-color-background: rgba(251, 252, 254, 1);
	--md-sys-color-on-background: #191c1e;
	--md-sys-color-surface: #fbfcfe;
	--md-sys-color-surface--rgb: 251, 252, 254;
	--md-sys-color-on-surface: #191c1e;
	--md-sys-color-surface-variant: #dce3e9;
	--md-sys-color-on-surface-variant: #40484c;
	--md-sys-color-inverse-surface: #2e3133;
	--md-sys-color-inverse-on-surface: #f0f1f3;
}